@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Figtree", sans-serif;
}

body {
    background-color: aliceblue;
    box-sizing: border-box;
    margin: 0px;
}

.hidden {
    display: none;
    opacity: 0;
    transition-delay: .5s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main-content {
    z-index: 1;
    width: 400px;
    height: 450px;
    background-color: rgb(52, 207, 117);
    transition: all .5s ease-in-out;
    border-radius: 20%;
    transform-style: preserve-3d;
}

.background {
    z-index: 2;
    background-image: linear-gradient(#2bfa99, #ccffe2);
    height: 450px;
    width: 400px;
    position: absolute;
    box-shadow: inset #a5fecc1c  -5px 5px , #16c99c -10px 10px;
    border-radius: 20% 80% 20% 20% / 19% 79% 20% 20%;
    transition: all .5s ease-in-out;
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 25px 0px 0px 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(45deg,  #16c99c2a, #16c99c33);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: inherit;
    position: absolute;
    background: linear-gradient(#ffffff27, #ffffff28);
    box-shadow: -5px 5px 10px rgb(209, 197, 197);
    transition: all .5s ease-in-out;
}

.circle:nth-child(1) {
    inset: 25px;
    transform: translate3d(0, 0, 60px);
    transition-delay: .1s;
}
.circle:nth-child(2) {
    inset: 50px;
    transform: translate3d(0, 0, 60px);
    transition-delay: .2s;
}
.circle:nth-child(3) {
    inset: 75px;
    transform: translate3d(0, 0, 90px);
    transition-delay: .3s;
}
.circle:nth-child(4) {
    inset: 100px;
    transform: translate3d(0, 0, 120px);
    transition-delay: .4s;
}
.circle:nth-child(5) {
    transform: translate3d(0, 0, 150px);
    transition-delay: .5s;
}



h1 {
    font-size: 28px;
    color: green;
}

h2 {
    font-size: 20px;
    width: 250px;
}

p {
    font-size: 20px;
    width: 300px;
    padding: 50px 0px 50px 0px;
    color: rgb(17, 87, 17);
    font-weight: 600;
}

.txt {
    position: absolute;
    top: 120px;
    left: 30px;
}

.icons img {
    width: 20px;
    height: 20px;
    background-color: white;
    padding: 8px;
    border-radius: 50px;
    margin: 2px;
    box-shadow: -1px 3px rgba(0, 0, 0, 0.219);
}

.icons {
    margin: 0px 0px 20px 0px;
}

.main-content:hover #img1{
    animation: lift 1s forwards ;
}
.main-content:hover #img2{
    animation: lift 1s forwards ;
    animation-delay: .2s;
}
.main-content:hover #img3{
    animation: lift 1s forwards ;
    animation-delay: .4s;
}


button {
    background: none;
    border: none;
    color: rgb(29, 119, 29);
    font-size: 18px;
}

.bottom-content {
    position: absolute;
    left: 70px;
    top: 300px;
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 40px;
    transition: transform .5s ease;
}

.bottom-content.enlarge {
    transform: translateY(150px);
    transition-delay: .1s;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

.hidden-text {
    display: flex;
    height: 0px;
    opacity: 100;
    transition: height .5s ease;
    transition: opacity .2s ease;
    overflow: hidden;
    
}

.background.enlarge {
    height: 600px;
}

.main-content.enlarge {
    height: 600px;
}

.main-content:hover {
    transform: perspective(1000px) scaleY(0.9) rotateY(25deg) rotateX(10deg); 
    
}

@keyframes lift {
    from {
        box-shadow: 0px 3px rgba(0, 0, 0, 0.219);
    }
    to {
        box-shadow: -3px 12px rgba(0, 0, 0, 0.219);
    }
}

